@model caminaconestilo.Models.entrada_x_ajuste

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>entrada_x_ajuste</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_entrada_x_ajuste }) |
    @Html.ActionLink("Back to List", "Index")
</p>
