@model IEnumerable<caminaconestilo.Models.proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Proveedores</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_proveedor }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_proveedor }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id_proveedor })
        </td>
    </tr>
}

</table>
